
$monospace: "monospace";

html, body, #app {
    margin: 0;
    padding: 0;
}
#App {
    margin: 0 1vw;
}

#Nav {
    display: flex;
    justify-content: flex-end;
    >* {
        flex: 0 1 auto;
        align-self: center;
        margin-right: 10vh;
    }
    font-family: $monospace;
    margin-bottom: 10px;
}


// For HTML widgets

.widget {
    min-height: 80vh;
    position: relative;
    .widget-UI {
        font-family: monospace;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        >*{
            border-radius: 5px;
            box-shadow: 1px 1px 1px 1px #888888;
            background: rgba(255, 255, 255, 0.8);
            >*{
                margin: 20px;
            }
        }
    }
    .vis {
    }
}
