html, body, #App {
    margin: 0;
    padding: 0;
}
#App {
    margin: 0 1vw;
}

#Nav {
    display: flex;
    justify-content: flex-end;
    >* {
        flex: 0 1 auto;
        align-self: center;
        margin-right: 10vh;
    }
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

#Vis {
    display: flex;
    flex-wrap: wrap;
    >* {
        flex: 1 0 auto;
    }
    .params {
        flex: 1 0 300px;
    }
    .inactive {
        background: #dddddd;
    }
}
.plot {
    box-shadow: 5px 5px 5px 5px #888888;
}

.input {
    display: flex;
    flex-wrap: wrap;
    .label {
        display: flex;
        margin-right: 1em;
    }
    .box {
        flex: 0 1 auto;

        display: flex;
    }
}
